/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-color: black;
}

.cover-container {
  max-width: 42em;
}

.hidden{
  display:none;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.text-bg-dark{
  background-color: black !important;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.service-logo{
  width:80%
}

.app-logo{
  width:70px;
  border-radius: 50%;
}





/* Grid */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 100vh; */
}

.dot {
  grid-column: span 2;
}

.equal {
  grid-row: span 2;
}

#buttons-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  text-align: center;
  
}

/* Input */
#input {
  width: 100%;
  padding-right: 10px;
  font-size: 3em;
  text-align: right;
  height: 3em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  background-color: #223850;
  transition: all 0.3s ease-in
}

/* Btn's */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 50px;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.3s ease-in;
  border: 0.3px solid rgba(251, 253, 255, 0.171);
  
}

.btn-num {
  background-color: #223850;
  color: white;
}

.btn-num:hover {
  background-color: #233B55;
}

.btn-operator {

  background-color: #128094;
  color: #ffffff;
}

.btn-operator:hover {
  background-color: white !important
}

.equal{
  background-color: #e77c18;
}